* {
  padding: 0px;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  /* line-height: 40px; */
  font-size: 15px;
}

a {
  /* text-decoration: none; */
  font-size: 13px;
}

.header #b-title {
  font-weight: bold;
  /* font-family: "黑体"; */
  /* font-size: 30px; */
  margin-top: 20px;
}

.header a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.content ul {
  list-style: none;
  display: table;
  margin: 0 auto;
}

.content ul li {
  float: left;
  margin: 0 10px 0 10px;
}

.footer p {
  font-size: 11px;
}